.about-our-work-logos {
  width: 175px !important;
  height: 175px !important;
  object-fit: contain;
  margin: 0 30px;
}
.about-approach-header{
  background-image: url("../../../public/Assets/Images/nbfc/nbfcbg.png");
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-partners-header{
  background-image: url("../../../public/Assets/Images/Operational/introbg.png");
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-work-header{
  background-image: url("../../../public/Assets/Images/strategic/introbg.png");
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}