@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;200;300;400;500;600;700;800;900&family=Monoton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");



#Business-Unit-strategy-and-Planning {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #1f20ae 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #4633d7 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #4633d7 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #1f20ae 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #1f20ae 0%, #f8f2f2ff 100%);
  background-attachment: fixed;
}
.Business-Unit-strategy-and-Planning-title {
  line-height: 65px !important;
  font-weight: 700 !important;
  width: 75%;
  text-align: center;
  font-size: 3.25rem;
  color: white;
}
@media (max-width: 867px) {
  .Business-Unit-strategy-and-Planning-title {
    line-height: 45px !important;
    font-size: 33px;
  }
}
.button-hover-outlined {
  transition: all 0.5s ease;
  color: white;
  &:after {
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    background: #252b42;
    transition: all 0.5s ease;
  }
  &:hover {
    background: #4633d7;
    color: white;
  }
  &:hover:after {
    width: 100%;
    height: 100%;
    left: 0;
  }
}

.consulting-learnmore-arrow-icon {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.consulting-learnmore-arrow-icon:hover {
  transform: translateX(10px);
}
