#signup {
  background-image: url("../../../public/Assets/Images/signupbg.png");
  background-position: right;
  background-size: 70%;
  background-repeat: no-repeat;
}
@media (max-width: 867px) {
  #signup {
    background-image: url("../../../public/Assets/Images/Auth/signupbgphone.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#signup form {
  border: 0.5px solid #1f20ae;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}
@media (min-width: 867px) {
  #signup form {
    position: absolute;
    left: 200px;
    width: 480px;
  }
}
@media (max-width: 867px) {
  #signup form {
    width: 90%;
  }
}
