@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  width: 100% !important;
  overflow-x: hidden !important;
}
html{
  scroll-behavior: smooth !important;
}
h1 {
  line-height: 65px !important;
  font-weight: 700 !important;
  color: #1f20ae !important;
  font-size: 3.25rem;
  @apply text-navyblue font-bold;
}

@media (max-width: 867px) {
  h1 {
    line-height: 45px !important;
    font-size: 33px;
  }
}
.custom-width-30 {
  width: 30%;
}
#form input,
#form textarea {
  border-radius: 12px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
textarea {
  resize: none;
}
.home-founder-title {
  line-height: 65px !important;
  font-weight: 700 !important;
  font-size: 3.25rem;
  color: white;
}
@media (max-width: 867px) {
  .home-founder-title {
    line-height: 45px !important;
    font-size: 33px;
  }
}
